<div>
  <div>
    <input type="text" class="from-control" placeholder="type something..." [(ngModel)]="filterText">
  </div>
  <div *ngIf="filterText">
    your search for <strong>{{filterText}}</strong>
  </div>
  <h4 class="page-header">Products</h4>
  <ul class="list-group">
  <li *ngFor="let product of products|productFilter:filterText" class="list-group-item">
    <button (click)="addToCart(product)" class="btn btn-xs btn-primary pull-right">
        add to cart
    </button>
    <h5><strong>{{product.productName}}</strong></h5>
    <p>{{product.quantityPerUnit}}</p>
    <h6>{{product.unitPrice| currency}}(VAT included:{{product.unitPrice|vatAdded| currency}})</h6>
  </li>
</ul>
</div>
